.sidebar {
  width: 270px;
  height: 100vh;
  background: linear-gradient(135deg, #00162c, #082d6c);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
  font-weight: bold;
}

.sidebar-title {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 0px 1px 2px #000;
  padding-top: 19px;
}

.sidebar-link {
  color: white;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  width: 94%;
  text-align: center;
  font-size: 1.4rem;
  transition: background 0.3s, transform 0.2s;
}

.sidebar-link:hover,
.sidebar-link.active {
  background-color: rgba(255, 255, 255, 0.15);
  transform: scale(1.05);
}

.sidebar-logout {
  margin-top: auto;
  width: 100%;
  padding: 10px 20px;
  background-color: #ff4d4f;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.sidebar-logout:hover {
  background-color: #e6383a;
  transform: scale(1.05);
}
